language: cpp
compiler:
  - gcc

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libboost-all-dev cmake

script:
  - mkdir -p bin/release
  - cd bin/release
  - cmake -DCMAKE_BUILD_TYPE=Release ../../
  - make -j 4

notifications:
  email: false