language: cpp
compiler:
  - gcc

before_script:
  - sudo add-apt-repository --yes ppa:boost-latest/ppa
  - sudo apt-get update -qq
  - sudo apt-get install -qq libboost1.55-all-dev cmake libboost-random1.55-dev

script:
  - mkdir -p bin/release
  - cd bin/release
  - cmake -DCMAKE_BUILD_TYPE=Release ../../
  - make -j 4

notifications:
  email: false